.poster{
    display: flex;
    flex-direction: row;
}
.poster > img {
    padding-right: 30px;
}
.movie-details {
    margin-left: 30px;
}
.title {
    color: #fff;
}
.youtube-frame {
    padding-top: 10px;
}
.overview-details{
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #1e61cc;
    border-radius: 15px;
    word-wrap: break-word;
    height: 100%;
}
.genres{
    color: #007bff;
    margin-top: 20px;
    font-size: 14px;
    height: 40px;
}
.genres span:first-child{
    padding-left: 0;
}
.genres span {
    padding: 5px;
}