a:hover{
    text-decoration: none !important;
}
.portfolio-item {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.img-responsive{
    width: 100%;
    margin-bottom: 10px;
}
.title{
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: auto;
    max-height: 60px;
    margin-bottom: 10px;
}
.overview{
    color: #fff;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.genres{
    color: #007bff;
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
    text-align: left;
    word-wrap: break-word;
    word-break: keep-all;
}
.genres span:first-child{
    padding-left: 0;
}
.genres span {
    padding: 5px;
}
.pagging-btn{
    text-align: right;
}
.pagging-btn .btn{
    padding: 10px;
    margin: 10px 5px;
}
.extend {
    margin: 0 5px;
    color: #ffff;
}